
crafttweaker.log
crash-reports
customnpcs
logs
screenshots
server-resource-packs
servers.dat
usercache.json
usernamecache.json
saves/*/advancements
saves/*/data
saves/*/datapacks
saves/*/DIM1
saves/*/DIM-1
saves/*/forcedchunks.dat
saves/*/level.dat_old
saves/*/poi
saves/*/stats
saves/*/session.lock

